h1 {
	text-align: right;
	font-family: 'Vibur', cursive;
	width: 100%;
	color: lightblue;
}

body {
    background-image: url("http://gdurl.com/k8Pb");
    background-repeat: no-repeat;
    background-size: cover;
}
div {
	color: white;
	font-family: 'Shadows Into Light', cursive;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(17,17,17,0.5);

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
.content:hover {
	opacity: 1;
}
.content{
	opacity: 0.7;
}
